<!DOCTYPE html>
<html>
<head>
    <title>Moja strona</title>
    <link rel="stylesheet" type="static/css" href="style.css">
</head>
<body>
    <h1>Moja strona</h1>
    <div>
        <form method="GET" action="/">
            <label for="search">Search:</label>
            <input type="text" id="search" name="search" value="{{xyz}}">
            <button type="submit">Search</button>
        </form>
    </div>

    {% for post in posts %}
    <div class="post">
        <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
         <p>{% if post.body|length <= 40 %}{{ post.body }}{% else %}{{ post.body[:40] }}...{% endif %}</p>
        <p class="comments-link"><a href="#">{{ post.comments_count }} comments</a></p>
    </div>
    {% endfor %}
    <p>{{current_page}}</p>
    <div id="pagination">
        {% if current_page > 1 %}
        <a href="/?page=1">&laquo;</a>
        <a href="/?page={{ current_page - 1 }}">&lt;</a>
        {% endif %}
        {% for page in range(1, total_pages + 1) %}
        {% if page == current_page %}
        <span class="active">{{ page }}</span>
        {% elif xyz!="" %}
        <a href="/?search={{xyz}}&?page={{ page }}">{{ page }}</a>
        {% else %}
        <a href="/?page={{ page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
        {% if current_page < total_pages %}
        <a href="/?page={{ current_page + 1 }}">&gt;</a>
        <a href="/?page={{ total_pages }}">&raquo;</a>
        {% endif %}
    </div>
</body>
</html>
